/** index Cky **/
$color_black: #000;

.formulario-cky{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

form{
  
}

.form{
    width: 100%;
    margin: auto;    
}

form {
    .group{
        position: relative;
        margin: 45px;       
    }
}

.cus1-img{
    
}